<%- include('./partials/head.ejs') %>

<div class="homePage">
  <a href="/" class="homePageButton"> Startpagina </a> | Producten
</div>

<H1 class="h1h2">Producten</H1>

<!-- For Each loop "Producten" -->
<section class="productContainer">
  <% producten.forEach(product=> { %>
  <article>
    <h2><%= product.categorie.titel %></h2>
    <a>
      <img
        src="assets/productImage.jpg"
        alt="productImage"
        class="productImage"
    /></a>
    <p><%= product.titel %></p>
    $ <%= product.prijs %>
  </article>
  <% }) %>
</section>

<%- include('./partials/foot.ejs') %>
